:root
{
    --white-web: #FFFFFF;
    --blue-web: #165ffc;
    --grey-web: #F3F5FA;
    --grey-border: #E1E1E1;
    --black-hover: #0000000D;
    --black-web: #000000;
}

/*
HTML root font size : 16px
1rem = 16px
*/

/* ------------------------------ Global ------------------------------ */
body, ul, h1, h2, p
{
    margin: 0 !important;
}

.heading
{
    text-align: center;
    margin-bottom: 2.8125rem;
}

a
{
    text-decoration: none !important;
}

.spacer
{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

/* ------------------------------ Header ------------------------------ */
header
{
    width: 100%;
    position: absolute;
    background: transparent;
}

.fixed-header
{
    position: fixed;
    background: linear-gradient(90deg, var(--blue-web) 0%, var(--black-web) 100%);;
    animation: header-slide 0.3s linear 1 normal both;
}

nav
{
    display: flex;
}

.navbar
{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar-brand
{
    color: var(--white-web) !important;
    font-size: 1.5rem !important;
}

.navbar-toggler
{
    padding: 0;
}

.navbar-toggler img
{
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header .navbar-collapse.collapsing, header .navbar-collapse.show
{
    background: white;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
}

header .show a:hover {
    background: var(--black-hover); /*rgba(0, 0, 0, 0.05)*/
}

.navbar-light .navbar-toggler
{
    color: transparent !important;
    border: 0 !important;
}

.nav-link-group
{
    justify-content: right;
}

.nav-link-group .nav-link
{
    color: var(--white-web);
    padding: 1rem;
}

@media(max-width: 992px)
{
    .nav-link-group .nav-link
    {
        color: var(--black-web);
        border-bottom: 1px solid var(--grey-border);
    }
}

@media(width: 992px)
{
    .nav-link-group .nav-link
    {
        color: var(--white-web);
        border-bottom: none;
    }
}

/* ------------------------------ Hero ------------------------------ */
.hero {
    align-content: center;
    background: linear-gradient(90deg, #165ffc 0%, #000000 100%);
    color: var(--white-web);
    /*padding-top: 8.75rem;
    padding-bottom: 3.75rem;*/
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.introduction
{
    text-align: center;
}

/* ------------------------------ About ------------------------------ */
/*.about {}*/

/* ------------------------------ Projects ------------------------------ */
/*.projects {}*/

.item
{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.app-logo
{
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

h6
{
    font-size: 1.125rem !important;
}

.technologies-list
{
    margin-bottom: .5rem;
}

/* ------------------------------ Footer ------------------------------ */
footer
{
    background-color: var(--grey-web);
    margin-top: 7.5rem;
}

footer .container
{
    text-align: center;
    justify-items: center;
}

footer h4
{
    margin-bottom: 2.8125rem;
}

.contact
{
    display: flex;
}

.contact a
{
    color: black;
}

.contact img
{
    width: 24px;
    height: 24px;
}

.contact a:not(:first-child)
{
    margin-left: 2rem;
}

.copyright p
{
    margin-bottom: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* ------------------------------ Animation ------------------------------ */
@keyframes header-slide
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}

/* Note :
- https://careerfoundry.com/en/blog/ui-design/introduction-to-color-theory-and-color-palettes/
- https://www.freepik.com/free-photo/abstract-binary-code-background_6038282.htm#fromView=search&page=1&position=4&uuid=cdeb0179-2115-4d46-bf71-a78926a8f170&new_detail=true&query=coding+screen
*/